name: Python package
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  test:
    name: Build and Test
    uses: ./.github/workflows/build-and-test.yml
  publish:
    runs-on: ubuntu-latest
    needs: [test]
    environment:
      name: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Check project version matches tagged version
        run: .github/scripts/confirm_version.bash

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Build the project
        run: uv build

      - name: Publish package on github
        run: uv publish --trusted-publishing always
